<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd
        ">				
				
	<!-- =============================== -->
	<!--           CONTROLLERS           -->
	<!-- =============================== -->

	<bean id="commentController" class="org.ieee.cnp.presentation.controller.CommentController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>			
	
	<bean id="contentController" class="org.ieee.cnp.presentation.controller.ContentController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>	
	
	<bean id="autoCSDLController" class="org.ieee.cnp.presentation.controller.AutoCSDLController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>		
		
	<bean id="mailingListController" class="org.ieee.cnp.presentation.controller.MailingListController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>		
	
	<bean id="csdlAbstractController" class="org.ieee.cnp.presentation.controller.CSDLAbstractController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>		
		
	<bean id="statusController" class="org.ieee.cnp.presentation.controller.StatusController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>		
	
	<bean id="searchController" class="org.ieee.cnp.presentation.controller.SearchController">
		<property name="velocityConfigurer" ref="velocityConfigurer"/>
		<property name="commandClass" value="org.ieee.cnp.formbean.ViewBean"/>
		<property name="commandName" value="viewBean"/>
	</bean>
		
</beans>
	
	