
.homepageSuggestedArticleTitle {
	margin: 15px 0 20px 15px;	
	font: 14px arial,sans-serif;
}

.homepageSuggestedArticleMode {
	margin: 0 0 20px 15px;
	font: 12px arial,sans-serif;	
}

.homepageSuggestedArticleInstanceID {
	margin: 0 0 20px 15px;
	font: 12px arial,sans-serif;	
}

.homepageSuggestedArticleRowButtons {
	width: 98%;
	border-top: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	margin: 0 0 0 10px;
}

.homepageSuggestedArticleCellTitle {
	float: left; 
	width: 180px; 
	padding: 10px 0 0 10px;	
	font: 12px arial,sans-serif;
}

.homepageSuggestedArticleCell {
    background-color: #FFFFFF;
    float: left;
    margin: 0;
    padding: 10px 0 10px 10px;
    width: 50%;	
}

.homepageSuggestedArticleMessage {
	float: left; 
	width: 600px; 
	margin: 10px 0 3px 0; 
	color: blue; 
	font: 16px arial,sans-serif;	
}

.homepageSuggestedArticleSave {
	float: right; 
	width: 50px; 
	margin: 10px 0 3px 0;
}

/* ---------- Common ---------- */

.clearBoth {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.topNavOptions {
	width: 98%;
	margin: 0 0 10px 10px;
}

.topNavOption {
	float: left;
	padding: 0 0 0 10px;
	height: 24px;
	width: 90%;
	background-color: #EEEEEE;	
	border: 1px solid #CCCCCC;	
}

.configurationOptions {
	font: 12px arial, helvetica, sans-serif;
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 2px 0 0 0;	
}

.topNavBackButton {
	float: right;
	padding: 4px 5px 0 5px;
	font: bold 12px arial,sans-serif;
	cursor: pointer;
	background-color: #EEEEEE;	
	border: 1px solid #CCCCCC;
	height: 20px;
}

.cornerRadiusCell {
	float: left; 
	width: 50%; 
	margin: 8px 0 8px 10px;
	padding: 5px 5px 5px 50px;
}

.cornerRadiusLabel {
	float: left; 
	width: 80px; 
	margin: 2px 0 2px 0;
	padding: 5px 0 0 0;
}

.cornerRadiusInput {
	float: left; 
	width: 40px; 
	margin: 2px 0 2px 0;
}

