<ul>
<li>View in New Page - The content (article, blog, webinar, etc) will be displayed in a new window.
<ul>
	<li>This mode is the normal method you will see on most web sites.</li>
	<li>A typical HTTP Request/Response, and browser refresh is seen.</li>
</ul>
</li>
<li>View in Current Page - The content (article, blog, webinar, etc) will be displayed in the existing window.
<ul>
	<li>This mode is a newer method, using AJAX to populate a "target" container.</li>
	<li>For this reason, a "target" Container ID must be provided in this Content List portlet.</li>
	<li>The target will be a Portlet of type "Content Container".</li>
</ul>
</li>
</ul>