<ul>
<li>Entry must contain all channels selected
	<ul>
	<li>Each entry that shows in this list will contain all Channels selected.</li>
	<li>For example, if the "Cloud" and "Mobile" Channels are selected above, then only those content entries that have both "Cloud" and "Mobile" Categories will show up.</li>
	<li>The only way for a content entry to make this list is for it to be assigned to both "Cloud" and "Mobile" Categories.</li>
	</ul>
</li>
<li>Entry must contain at least 1 channel selected
	<ul>
	<li>Each entry that shows in this list will contain at least one (1) of the Channels selected.</li>
	<li>For example, if the "Cloud" and "Mobile" Channels are selected above, then all content entries for "Cloud" and all content entries for "Mobile" will show up.</li>
	<li>If a content entry is marked as "Cloud" only, and not "Mobile", it will show up in the list.</li>
	</ul>
</li>
</ul>