<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse ($init)

#set ($metaTagLocalService = $serviceLocator.findService('ieeecs-ThemeServices-portlet', 'org.ieeecs.theme.service.MetaTagLocalService')) 
#set ($metaTagMap = $metaTagLocalService.getMetaTagData($theme_display.getURLCurrent()))
#set ($metaTagGeneration = '')
#set ($metaTagShowInfo = '0')

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" class="#language("lang.dir")" >

<head>

#foreach( $key in $metaTagMap.keySet() )
	#if ($key == 'pageTitle')
		<title>$metaTagMap.get($key).value</title>
	#elseif ($key == 'showInfo')
		#if ($metaTagMap.get($key).value == '1')
			#set ($metaTagShowInfo = '1')
		#end	
	#elseif ($key == 'time')	
		#set ($metaTagGeneration = $metaTagMap.get($key).value)
	#elseif ($key == 'currentUrl')
		## Future use	
	#elseif ($key == 'pubType')
		## We don't use this one
	#elseif ($key == 'schema')
		## We don't use this one
	#elseif ($key == 'tier')
		## We don't use this one				
	#else		
		#foreach( $htmlTag in $metaTagMap.get($key).keySet() )
			<$htmlTag $metaTagMap.get($key).get($htmlTag) />
		#end
	#end
#end	

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>		
	<script type="text/javascript" src="/ieeecs-DigitalLibrary-theme/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ieeecs-DigitalLibrary-theme/js/jquery.gritter.min.js"></script>
##	<script type="text/javascript" src="/ieeecs-DigitalLibrary-theme/js/dockbar.customizable.js"></script>
		
	<script type="text/javascript">
		document.write('<link rel="stylesheet" type="text/css" href="/ieeecs-DigitalLibrary-theme/css/bootstrap.css"/>');
		document.write('<link rel="stylesheet" type="text/css" href="/ieeecs-DigitalLibrary-theme/css/bootstrap-responsive.min.css"/>');
		document.write('<link rel="stylesheet" type="text/css" href="/ieeecs-DigitalLibrary-theme/css/font-awesome-4.0.3/css/font-awesome.min.css"/>');
		document.write('<link rel="stylesheet" type="text/css" href="/ieeecs-DigitalLibrary-theme/css/_style_06172014_1740.css" media="screen"/>');
		document.write('<link rel="stylesheet" type="text/css" href="/ieeecs-DigitalLibrary-theme/css/_style_portlet_06182014_1654.css" media="screen"/>');
		document.write('<link rel="stylesheet" type="text/css" href="/ieeecs-DigitalLibrary-theme/css/jquery.gritter.css" media="screen"/>');					
	</script>		

	<link href="/ieeecs-DigitalLibrary-theme/images/favicon.ico" rel="Shortcut Icon" /> 
	<link rel="icon" href="/ieeecs-DigitalLibrary-theme/images/favicon.ico">
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-381255-5', 'computer.org');
		ga('send', 'pageview');
	</script>	

	<script type='text/javascript'>
		var googletag = googletag || {};
		googletag.cmd = googletag.cmd || [];
		(function() {
		var gads = document.createElement('script');
		gads.async = true;
		gads.type = 'text/javascript';
		var useSSL = 'https:' == document.location.protocol;
		gads.src = (useSSL ? 'https:' : 'http:') + 
		'//www.googletagservices.com/tag/js/gpt.js';
		var node = document.getElementsByTagName('script')[0];
		node.parentNode.insertBefore(gads, node);
		})();
	</script>
	<script type='text/javascript'>
		googletag.cmd.push(function() {
		googletag.defineSlot('/19385854/CSDL_Right_Top', [[200, 200], [250, 250], [300, 100], [300, 250]], 'div-gpt-ad-1394042883874-0').addService(googletag.pubads());
		googletag.pubads().enableSingleRequest();
		googletag.enableServices();
		});
	</script>
	<script type='text/javascript'>
		googletag.cmd.push(function() {
		googletag.defineSlot('/19385854/CSDL_Right_Bottom', [[160, 160], [160, 600], [180, 150], [200, 200], [234, 60], [240, 400], [250, 250], [300, 100], [300, 250], [300, 600]], 'div-gpt-ad-1394043015866-0').addService(googletag.pubads());
		googletag.pubads().enableSingleRequest();
		googletag.enableServices();
	});
	</script>	

</head>

<body class="$css_class">

#if ($is_signed_in)
	##parse ("$full_templates_path/dockbar.vm")
#end

<div class="headerWrapper row-fluid">

		<div class="headerInnerBar">
			<div id="headerInnerBarLeft" class="headerInnerBarLeft">
				<div id="headerCommunityLogo" class="headerCommunityLogo">
					<div class="communityLogo">
						<a href="http://www.computer.org" title="IEEE CS Home">
							<img src="/ieeecs-DigitalLibrary-theme/images/CSDL_CSLogo-gray-green.png" alt="IEEE CS Home"/>
						</a>
					</div>
				</div>				
			</div>
			<div id="headerInnerBarRight" class="headerInnerBarRight">
				<div class="headerInnerRightIEEELogo">			
					<a href="http://www.ieee.org" title="IEEE Home">
						<img src="/ieeecs-DigitalLibrary-theme/images/IEEELogo-gray.png" alt="IEEE Home"/>
					</a>			
				</div>				
			</div>						
			<div class="clearBoth"></div>
			<div class="headerCommunityCatchPhrase">The Community for Technology Leaders</div>
			<div class="headerCommunityWelcome" id="headerCommunityWelcome"></div>
			<div class="clearBoth"></div>
		</div>

</div>

<div class="headerNavBarWrapper">
		<div class="headerNavBarInnerBar row-fluid">
		
            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                  
                  </a>
                  <a class="brand" href="/csdl">CSDL</a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li><a href="/portal/web/csdl/libsubscription">Institutions and Libraries</a></li>
                      <li><a href="/portal/web/csdl/about">About</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="/portal/web/csdl/dlrss">RSS Feeds</a></li>
                          <li><a href="/portal/web/csdl/subscribe/newsletter">Newsletter</a></li>
                          <li><a href="/portal/web/csdl/terms">Terms of Use</a></li>
                          <li><a href="/portal/web/csdl/peerreview">Peer Review</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav pull-right">
#if ($is_signed_in)
                      <li><a href="/portal/c/portal/logout">Logout</a></li>
#end
#if (!$is_signed_in)
                      <li><a href="/portal/c/portal/login">Login</a></li>
#end                    
                    </ul>                                         
                    <form class="navbar-search pull-right" action="/portal/web/search/simple" id="csdlSearchForm" name="csdlSearchForm">
						<input type="hidden" value="simplesearch" name="action"/>
						<input type="hidden" value="7777" name="yearTo"/>
						<input type="hidden" value="1960" name="yearFrom"/>
						<input type="hidden" value="12"	name="monthTo"/>
						<input type="hidden" value="01"	name="monthFrom"/>
						<input type="hidden" value="DocWeight"	name="sortField"/> 
						<input type="hidden" value="descending"	name="sortOrder"/>
						<input type="hidden" value="yes" name="checkAbstract"/>
						<input type="hidden" value="dt+proceedings+tmc+cal+tse+tdsc+tpami+tvcg+tpds+tlt+tkde+tetc+toh+internet+tcbb+tc+tac+micro+dsonline+intelligent+security+software+tsc+multimedia+cise+concurrency+computer+annals+pc+cga+tcc" name="searchDatabases" id="searchDatabases"/>
						<input type="text" class="search-query" placeholder="Search the CSDL" name="queryText1"/>
						<input type="image" src="/ieeecs-DigitalLibrary-portlet/images/CSDL_SearchIcon.png" style="height: 30px;" id="csdlSearchQuery"/>
                    </form>                     
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
		
		</div>
</div>		

<div id="wrapper">

	<div id="content" class="row-fluid">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	
	<div class="footerBar">
		<div class="footerCopyright" id="footerCopyright"></div>
#if ($metaTagShowInfo == '1')		
		<div class="metaTagInfo" id="metaTagInfo">$metaTagGeneration</div>
#end		
		<div class="footerInfo" id="footerInfo">(V2.0)</div>
		<div class="clearBoth"></div>
	</div>	
</div>

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="loginHeaderBar modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 id="loginModalLabel" class="loginHeaderText">Login to the $currentGroupName Community</h4>
	</div>
	<div class="modal-body">
		<form name="loginSignInForm" id="loginSignInForm" action="/portal/web/guest/home?p_p_id=58&amp;p_p_lifecycle=1&amp;p_p_state=maximized&amp;p_p_mode=view&amp;saveLastPath=0&amp;_58_struts_action=%2Flogin%2Flogin&amp;_58_ieee_error=0" method="POST">
			<input name="redirect" type="hidden" value="$!{currentPageURL}"/>
			<input name="rememberMe" type="hidden" value="false" />	
			<div class="loginUserName">Username</div>
			<div class="loginUserNameInput"><input type="text" name="_58_login" id="_58_login" value=""/></div>
			<div class="loginPassword">Password</div>
			<div class="loginPasswordInput"><input type="password" name="_58_password" id="_58_password" value=""/></div>
			<div class="loginButtonSignInAccount"><input type="submit" value="Sign in"/></div>
		</form>	
	</div>
</div>

<script type="text/javascript" src="/ieeecs-DigitalLibrary-theme/js/categorizr.min.js"></script>	
	
<script type="text/javascript">

	var ww = document.body.clientWidth;	

	var currentDate = new Date();	
	$("#footerCopyright").html("This site and all contents (unless otherwise noted) are <a href='/portal/web/publications/copyright' class='copyrightLink'>Copyright &copy; " + currentDate.getFullYear() + " IEEE</a>. All rights reserved.");	

	function loginModal() {
	    $('#loginModal').modal({
	    	keyboard: true
	    })
	}

	$(document).ready(function() {

		determineMenu();
		
		$(window).bind('resize orientationchange', function() {		
			ww = document.body.clientWidth;
			determineMenu();
		});
		
		$("#csdlSearchQuery").click(function() {
			$("#csdlSearchForm").submit();		
		});		
		
#if ($metaTagShowInfo == '1')		
		$("#metaTagInfo").click(function() {

			$("meta").each(function(index) {
				var name = $(this).attr("name");
				var property = $(this).attr("property");
				var content = $(this).attr("content");
				if ( name === undefined && property !== undefined ) {
					console.log(property + " = " + content );
				} else if ( name !== undefined && property === undefined ) {
					console.log(name + " = " + content );
				} else {
					console.log("key = " + content );
				}				
			});
		});	
#end			
				
#* --------------------------------------------
	Determine "span" values for the
	columns, (bootstrap responsive
	design purposes).
------------------------------------------------ *#			
		var wrapperWidth = $("#wrapper").width();
		var spanSegment = wrapperWidth / 12;

		for ( var index = 1; index <= 12; index++ ) {
		
			var currentColumn = "#column-" + index;
			var currentObj = $(currentColumn);
			
			if ( currentObj.length > 0 ) {
				var columnWidth = $(currentColumn).width();
				var spanSizeValue = Math.round(columnWidth/spanSegment);
				$(currentColumn).addClass("span" + spanSizeValue);
			}
		}	

	});	
	
	var determineMenu = function() {	
	
		var dt = categorizr();
	
		if ( dt.toLowerCase() == "desktop" ) {
			if ( ww >= 910 ) {
				$("#ddmenu").show();
				$("#ddMenuList").fadeIn(100);
				$("#mobileMenu").hide();
			} else {
				$("#ddmenu, #ddMenuList").hide();
				$("#mobileMenu").show();
			}		
		} else if ( dt.toLowerCase() == "tablet" ) {
			if ( ww >= 1024 ) {
				$("#ddmenu").show();
				$("#ddMenuList").fadeIn(100);
				$("#mobileMenu").hide();
			} else {
				$("#ddmenu, #ddMenuList").hide();
				$("#mobileMenu").show();
			}			
		} else if ( dt.toLowerCase() == "mobile" ) {
			$("#ddmenu, #ddMenuList").hide();
			$("#mobileMenu").show();	
		} else {
			$("#ddmenu").show();	
			$("#ddMenuList").fadeIn(100);
			$("#mobileMenu").hide();
		}	
	}	

</script>

</body>

</html>
