<!DOCTYPE html>
#parse ($init)
<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">
<head>
	<meta charset="utf-8">
    <title>$the_title - $company_name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    ## This is to ensure using the latest rendering mode for IE
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	## This is required by Liferay, where they import all their junk.
	$theme.include($top_head_include)

    ## CSS
    <link rel="stylesheet" href="/ieeecs-HomePageBlank-theme/css/bootstrap.min.css">

    <style type="text/css">
      html,
      body {
        height: 100%;
        background-color: #004d85;
		-webkit-font-smoothing: antialiased;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
      }

      ## Wrapper for page content to push down footer
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -20px;
         /* Pad bottom by footer height */
  		padding: 0 0 85px;
  		margin-top: 85px;
      }

      ## Lastly, apply responsive CSS fixes as necessary
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      ## REMOVE BOOTSTRAP GUTTER PADDING
      [class*='col-'] { padding-left: 0; padding-right: 0; }
    </style>
</head>
<body>
	## Wrap all page content here
    <div id="wrap">
		## Begin page content
            #if ($selectable)
                $theme.include($content_include)
            #else
                $portletDisplay.recycle()
                $portletDisplay.setTitle($the_title)
                $theme.wrapPortlet("portlet.vm", $content_include)
            #end
	</div> ## /wrap
	
	## Le javascript
	##==================================================
	## Placed at the end of the document so the pages load faster
</body>
$theme.include($bottom_include)
</html>