<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6"></div>
    <img class="col-md-6 col-sm-6 col-xs-6" src="/ieeecs-MyComputer-theme/images/mycomputer-logo.png"/>
    <div class="col-md-3 col-sm-6 col-xs-6"></div>
</div>
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-4"></div>
<form class="col-md-4 col-sm-4 col-xs-4" name="loginSignInForm" id="loginSignInForm"
      action="/portal/web/myComputer?p_p_id=58&amp;p_p_lifecycle=1&amp;p_p_state=maximized&amp;p_p_mode=view&amp;saveLastPath=0&amp;_58_struts_action=%2Flogin%2Flogin&amp;_58_ieee_error=0"
      method="POST"><input name="redirect" type="hidden" value="/portal/web/mycomputer"> <input name="rememberMe"
                                                                                                type="hidden"
                                                                                                value="false">
        <div class="form-group">
            <label for="_58_login" class="control-label">Email Address</label>
            <input type="text" class="form-control input-lg" name="_58_login" id="_58_login" placeholder="EMAIL ADDRESS"
                   value="">
        </div>
        <div class="form-group">
            <label for="_58_password" class="control-label">Password</label>
            <input type="password" class="form-control input-lg" name="_58_password" id="_58_password"
                   placeholder="PASSWORD" value="">
        </div>
        <div class="form-group text-right">
            <a href="#">Help</a>&nbsp;|&nbsp;<a href="#">Forgot Password</a>
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">LOG IN</button>
        </div>
</form>
<div class="col-md-4 col-sm-4 col-xs-4"></div>
</div>