<div class="about-top-container col-xs-12">
    <div class="page-header">
        <h1><i class="icon-file-text icon-fixed-width"></i>Computer Society Digital Library</h1>
    </div>
    <div class="about-top-content">
        <p class="lead"> Access to only as many articles as you need</p>
        <p>
            The Computer Society Digital Library is well known for being the most comprehensive
            computing resource in the world. But sometimes, you might not need access to the
            entire computing universe.
        </p>
        <div class="col-md-7 col-sm-7 col-xs-12 pull-right">
            <img src="/ieeecs-HomepageAbout-portlet/images/bundlearticles-image-3.jpg" alt="bundle-articles" class="img-rounded pull-right col-md-11 col-sm-11 col-xs-12">
        </div>
        <p>
            That&rsquo;s why IEEE Computer Society is pleased to introduce CSDL Bundled Article Sales.
            Now, your company or organization can purchase access to only as many articles as you
            need-whether that&rsquo;s 25, 50, 100, 250, or 500.
            <br /><br />
            And you can select just the topics you&rsquo;re interested in including areas such as cloud, big
            data, mobile, IoT (Internet of Things), embedded systems.
            <br /><br />
            CSDL Bundled Articles offer a cost-effective way of accessing one of the world&rsquo;s greatest
            computing resources. And if you find that your allotment is running out-don&rsquo;t worry;
            we will remind you when it&rsquo;s time to reorder.
            <br /><br />
        </p>
        <br /><br />
        <div>
            <button {{ action "purchaseBundle" }} class="btn btn-block btn-primary btn-lg">Request Article Bundle Quote</button>
        </div>
    </div><!- /.about-top-content -->
</div>
<div class="row about-footer-links">
    <a href="/portal/web/myhome/home">Home</a>
    <a href="/portal/web/myhome/article-bundle">CSDL</a>
    <a href="/portal/web/myhome/webinar-bundle">Webinars</a>
    <a href="http://www.ieee.org/site_terms_conditions.html?WT.mc_id=hpf_terms">Terms</a>
    <a href="http://www.computer.org/portal/web/guest/privacy">Privacy</a>
    <a href="/portal/web/myhome/help">Help</a>
</div>
<div class="row about-footer-social-links">
    <a href="mailto:help@computer.org"><i class="icon-envelope icon-2x"></i></a>
    <a href="https://twitter.com/computersociety" target="_blank"><i class="icon-twitter icon-2x"></i></a>
    <a href="https://www.facebook.com/ieeecomputersociety?v=wall" target="_blank"><i class="icon-facebook icon-2x"></i></a>
    <a href="https://plus.google.com/b/106653716856205029801/#106653716856205029801/posts" target="_blank"><i class="icon-google-plus icon-2x"></i></a>
    <a href="http://www.linkedin.com/groups?home=&amp;gid=52513&amp;trk=anet_ug_hm" target="_blank"><i class="icon-linkedin icon-2x"></i></a>
    <a href="http://www.youtube.com/user/ieeeComputerSociety" target="_blank"><i class="icon-youtube icon-2x"></i></a>
    <a href="http://www.computer.org/portal/web/csdl/dlrss" target="_blank"><i class="icon-rss icon-2x"></i></a>
</div>
<div class="row footer-copy-section">
    <p class="text-muted">
        <span class="text-primary copy-section"></span>
        <i class="icon-keyboard"></i> in LA
    </p>
</div>