<!DOCTYPE html>
#parse ($init)
<html itemscope itemtype="http://schema.org/Article" class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">
<head>
	<meta charset="utf-8">
    ## Title - keep less than 70 chars for better Google placement
    <title>MyHome | $the_title</title>
    ## Standard Meta Tags
    <meta name="keywords" content="webinar, digital library, computer society digital library, IEEE computer society digital library, ieee digital library subscription">
    ## Description - keep less than 155 chars for better Google placement
    <meta name="description" content="Discover content in the technical subjects that you care about.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Bennie Kingwood">

    ## Schema.org markup for Google+
    <meta itemprop="name" content="MyHome | $the_title">
    <meta itemprop="description" content="Discover content in the technical subjects that you care about.">
    <meta itemprop="image" content="http://conferences.computer.org/icebe/2013/images/ICS_black_stacked.gif">

    ## Facebook Open Graph Meta Tags
    <meta property="og:title" content="MyHome | IEEE Computer Society">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.computer.org/portal/web/myhome/splash">
    <meta property="og:site_name" content="MyHome | IEEE Computer Society">
    <meta property="og:description" content="Discover content in the technical subjects that you care about.">
    <meta property=”og:image” content=”http://conferences.computer.org/icebe/2013/images/ICS_black_stacked.gif”/>
    ## TODO- We need a Facebook Page for MyHome
    <meta property="fb:app_id" content="">

	## This is required by Liferay, where they import all their junk.
	$theme.include($top_head_include)

    ## CSS
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      html,
      body {
        height: 100%;
        background-color: #004d85;
		-webkit-font-smoothing: antialiased;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
      }

      ## Wrapper for page content to push down footer
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -20px;
         /* Pad bottom by footer height */
  		padding: 0 0 85px;
  		margin-top: 85px;
      }

        ## Lastly, apply mobile responsive CSS fixes as necessary
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
            ## THIS IS NEEDED FOR MOBILE TO FORCE ONE COLUMN LAYOUT
            #column-1, #column-2 { width: 100% !important; }
            .portlet-column {
                display: block;
            }
            .inline-edit { display: none; }
            .navbar-icon-dropdown { display: none !important;}
        }

        ## Bootstrap  overrides
        [class*='col-'] { padding-left: 0; padding-right: 0; }
        body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
            margin-right: 0px;
        }
        .modal-backdrop {
            z-index: 1029;
        }

        .square-close {
            padding: 7px !important;
        }

        .btn-primary {
            color: #fff;
            background-color: #428bca;
            border-color: #428bca;
        }

        ## Navbar Styles
        a.login {
            color: #ffffff !important;
        }

        a.login:hover, a.login:focus {
            background-color: #428bca !important;
        }

        .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
            background-color: #232527;
        }
        .navbar-header {
            background-color: #232527;
        }
        .navbar-myhome {
            background-color: rgba(70, 70, 70, 0.95)!important;
            border: 0px solid transparent !important;
        }
        .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
            background-color: #232527;
            color: #FFFFFF;
        }
        .navbar-myhome-subnav {
            border: 0px solid transparent !important;
            top: 50px !important;
            min-height: 30px !important;
            height: 30px !important;
            z-index: 1029 !important;
            background-color: rgba(44, 44, 44, 0.95)!important;
        }
        .navbar-myhome-subnav .nav>li>a {
            position: relative;
            display: block;
            padding: 5px 15px;
            text-transform: uppercase;
        }
        .navbar-myhome-subnav .navbar-nav>li>a {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 30px;
        }
        .profile-img-container {
            padding: 4px;
        }
        .profile-img-small {
            border-radius: 17px;
            -webkit-border-radius: 17px;
            -moz-border-radius: 17px;
            width: 34px;
            height: 34px;
        }
        .navbar-profile-dropdown {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
        }
        .navbar-icon-dropdown {
            font-size: 19px;
        }
        .advanced-search { line-height: 50px; }

        .toggle-controls a > .control-off {
            display: none;
        }

        .toggle-controls a > .control-on {
            display: inline-block;
        }
        .controls-hidden .toggle-controls a > .control-on {
            display: none;
        }

        .controls-hidden .toggle-controls a > .control-off {
            display: inline-block;
        }

    </style>

    ## JS
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

    ## CSS HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/ieeecs-HomePage-theme/js/bowser.min.js"></script>
    <script type="text/javascript">
        #*
         if the browser fails of the following conditions,
         forward to the browser download page:
         1. Opera browser
         2. Chrome < 11
         3. Firefox < 6
         4. IE < 9
        *#
        if ((bowser.msie && bowser.version < 9)||
            (bowser.opera)||
            (bowser.mozilla && bowser.version < 6)||
            (bowser.chrome && bowser.version < 11)) {
            window.location = '/portal/web/myhome/browser';
        }
        // make sure console is available
        if (!window.console) window.console = {};
        if (!window.console.log) window.console.log = function () {};
        if (!window.console.warn) window.console.warn = function () {};
        if (!window.console.error) window.console.error = function () {};
    </script>

    ## IF THE USER IS NOT SIGNED IN CHECK THE PAGE AND FORWARD TO SPLASH IF NECESSARY
    #if (!$is_signed_in)
    <script type="text/javascript">
        var pathArray = window.location.pathname.split( '/' );
        var pageName = pathArray[pathArray.length-1];
        if(pageName != "myhome" && (pageName.indexOf("suggested-content") != -1 ||
           pageName.indexOf("home") != -1)) {
           window.location = '/portal/web/myhome/splash';
        }
        // just in case the url ends with /suggested-content/type?querystring
        var pageName = pathArray[pathArray.length-2];
        if(pageName != "myhome" && (pageName.indexOf("suggested-content") != -1 ||
            pageName.indexOf("home") != -1)) {   console.log("forwarding");
            window.location = '/portal/web/myhome/splash';
        }
    </script>
    #end

    ## Fav and touch icons
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
	<link rel="shortcut icon" href="/ieeecs-HomePage-theme/images/favicon.ico">
	<link rel="icon" href="/ieeecs-HomePage-theme/images/favicon.ico">
	
	## Required JS Files
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/ieeecs-HomePage-theme/js/flowplayer.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.0/ember.min.js"></script>
	<script type="text/javascript" src="/ieeecs-HomePage-theme/js/dockbar.customizable.js"></script>
</head>
<body>
    ## top anchor
    <a id="top" href="#"></a>
	## Wrap all page content here
    <div id="wrap">
    	## Include the main dockbar
		#parse ("$full_templates_path/dockbar.vm")

		## Begin page content
		<div class="container">
			<header id="banner" role="banner">
				#if ($has_navigation)	
					#parse ("$full_templates_path/navigation.vm") 
				#end
			</header>
			<div id="content" class="row">
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
					$portletDisplay.setTitle($the_title)
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>
		</div>
	</div> ## /wrap

	## Sign In Modal Template
	#parse ("$full_templates_path/login.vm") 
	
	## Le javascript
	##==================================================
	## Placed at the end of the document so the pages load faster
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/ieeecs-HomePage-theme/js/infinity.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="/ieeecs-HomePage-theme/js/metrics-capture.js"></script>
    <script type="text/javascript" src="/ieeecs-HomePage-theme/js/logger.js"></script>
    ## Javascript that is needed for the search bar.  It had to be placed here because the javascript is not recognized after the velocity parser parses dockbar.vm.
    <script type="text/javascript">
        jQuery( document ).ready(function() {

          // Initialize the Metrics SDK then capture any metrics data
          var hostname = document.location.hostname || '127.0.0.1';
          Metrics.init({debug:true,url:'http://'+hostname+':5557'});
          var captureData = {};
          captureData.url = document.URL;
          captureData.userId = $user_id;
          Metrics.capture("PageView", captureData);


          // Initialize the Logger SDK
          Log.init({debug:true,url:'http://'+hostname+':5556/services/logger/'});

        $("a.metrics-capture").on("click", function() {
           var captureData = {};
           captureData.url = document.URL;
           captureData.link = this.href;
           Metrics.capture("ExternalLinkClick", captureData);
        });

          // NOTE: 11.25.13 Keeping typeahead results out until future release.
          //  jQuery('#myhome-search-input').on("focus", function() {
          // show the search results bar if there is text there
          //      if(jQuery('#myhome-search-input').val().trim() != '') {
          //          jQuery('#myhome-search-container .search-results').show();
          //      }
          //  });
          //   jQuery('#myhome-search-input').on("focusout", function() {
          //      jQuery('#myhome-search-container .search-results').hide();
          //  });
            jQuery('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
</body>
$theme.include($bottom_include)
</html>