<ul>
<li>Interger value, between -200 and 200 pixels</li>
<li>This value is usually the summation of heights of all header/banner/menus just above the Content Container portlet, so that the Pagination buttons are "above the fold" and easier for the visitor to view/use.</li>
<li>This will either increase (positive value) or decrease (negative value) the overall height of the content container.</li>
<li>Initially set to 0, as the code will dynamically calculate the current browser "height".</li>
<li>If the calculated height is too much, then put a negative number in the "offset" input.</li>
<li>If the calculated height is too little, then put a positive number in the "offset" input.</li>
</ul>