<div class="text-center help-heading">
    <p class="lead">Sometimes you just need a little <strong class="text-muted">help</strong>.</p>
</div>
<div class="row help-content">
    <div class="list-group col-md-10 col-md-offset-1" id="help-accordion">
        <h4>Common Issues</h4>
        <hr />
        <div class="list-group-item active list-group-item"  data-toggle="collapse" data-parent="#help-accordion" href="#help-1">
            <a href="#">How do I get a bundle?</a>
            <div id="help-1" class="panel-collapse collapse">
                <div class="panel-body">
                    If you are interested in a bundle, you can go to the <a href="/portal/web/myhome/purchase-bundle">request bundle</a> page and
                    fill out the form.  Once we receive your request, we will contact your company representative.
                </div>
            </div>
        </div>
        <div class="list-group-item active list-group-item"  data-toggle="collapse" data-parent="#help-accordion" href="#help-2">
            <a href="#">I have an article bundle, how do I add articles?</a>
            <div id="help-2" class="panel-collapse collapse">
                <div class="panel-body">
                    You can add articles to your bundle by searching for articles with the search bar above.  As you find articles
                    that you want to include in your bundle, you can click the "Add to Bundle" button.
                </div>
            </div>
        </div>
        <div class="list-group-item active list-group-item"  data-toggle="collapse" data-parent="#help-accordion" href="#help-3">
            <a href="#">How do I add webinars to my bundle?</a>
            <div id="help-3" class="panel-collapse collapse">
                <div class="panel-body">
                    You can add webinars by contacting your designated company IEEE representative.  If you are the single representative, then you can
                    fill out another request form on the   <a href="/portal/web/myhome/purchase-bundle">request bundle</a> page and an
                    IEEE Computer Society representative will contact you to discuss the additional webinars you would like to add to your bundle.
                </div>
            </div>
        </div>
        <div class="list-group-item active list-group-item"  data-toggle="collapse" data-parent="#help-accordion" href="#help-4">
            <a href="#">How long do I have the bundle content? </a>
            <div id="help-4" class="panel-collapse collapse">
                <div class="panel-body">
                    Your bundle content will be available for up to one year from the purchase date.  Once they year has passed,
                    you will need to renew your bundle(s).
                </div>
            </div>
        </div>
        <div class="list-group-item active list-group-item"  data-toggle="collapse" data-parent="#help-accordion" href="#help-5">
            <a href="#">I have contacted an IEEE Computer Society representative, so where is my webinar content?</a>
            <div id="help-5" class="panel-collapse collapse">
                <div class="panel-body">
                    Once you have completed the bundle request process (for webinars), it will take up to 24 hours before your
                    webinars are available for viewing.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row about-footer-links">
    <a href="/portal/web/myhome/home">Home</a>
    <a href="/portal/web/myhome/article-bundle">CSDL</a>
    <a href="/portal/web/myhome/webinar-bundle">Webinars</a>
    <a href="http://www.ieee.org/site_terms_conditions.html?WT.mc_id=hpf_terms">Terms</a>
    <a href="http://www.computer.org/portal/web/guest/privacy">Privacy</a>
    <a href="/portal/web/myhome/help">Help</a>
</div>
<div class="row about-footer-social-links">
    <a href="mailto:help@computer.org"><i class="icon-envelope icon-2x"></i></a>
    <a href="https://twitter.com/computersociety" target="_blank"><i class="icon-twitter icon-2x"></i></a>
    <a href="https://www.facebook.com/ieeecomputersociety?v=wall" target="_blank"><i class="icon-facebook icon-2x"></i></a>
    <a href="https://plus.google.com/b/106653716856205029801/#106653716856205029801/posts" target="_blank"><i class="icon-google-plus icon-2x"></i></a>
    <a href="http://www.linkedin.com/groups?home=&amp;gid=52513&amp;trk=anet_ug_hm" target="_blank"><i class="icon-linkedin icon-2x"></i></a>
    <a href="http://www.youtube.com/user/ieeeComputerSociety" target="_blank"><i class="icon-youtube icon-2x"></i></a>
    <a href="http://www.computer.org/portal/web/csdl/dlrss" target="_blank"><i class="icon-rss icon-2x"></i></a>
</div>
<div class="row footer-copy-section">
    <p class="text-muted">
        <span class="text-primary copy-section"></span>
        <i class="icon-keyboard"></i> in LA
    </p>
</div>