<div class="bundle-org-admin-bundle-form-container">
    <div class="bundle-org-admin-bundle-header-container">
        <h3>Bundle Organization Administration</h3>
    </div>
    {{outlet}}
</div> <!-- /.bundle-org-admin-bundle-form-container -->
{{outlet footer}}