<div class="row footer-links">
    <a href="/portal/web/myhome/home">Home</a>
    <a href="/portal/web/myhome/article-bundle">CSDL</a>
    <a href="/portal/web/myhome/webinar-bundle">Webinars</a>
    <a href="http://www.ieee.org/site_terms_conditions.html?WT.mc_id=hpf_terms">Terms</a>
    <a href="http://www.computer.org/portal/web/guest/privacy">Privacy</a>
</div>
<div class="row footer-social-links">
    <a href="mailto:help@computer.org"><i class="icon-envelope icon-2x"></i></a>
    <a href="https://twitter.com/computersociety" target="_blank"><i class="icon-twitter icon-2x"></i></a>
    <a href="https://www.facebook.com/ieeecomputersociety?v=wall" target="_blank"><i class="icon-facebook icon-2x"></i></a>
    <a href="https://plus.google.com/b/106653716856205029801/#106653716856205029801/posts" target="_blank"><i class="icon-google-plus icon-2x"></i></a>
    <a href="http://www.linkedin.com/groups?home=&amp;gid=52513&amp;trk=anet_ug_hm" target="_blank"><i class="icon-linkedin icon-2x"></i></a>
    <a href="http://www.youtube.com/user/ieeeComputerSociety" target="_blank"><i class="icon-youtube icon-2x"></i></a>
    <a href="http://www.computer.org/portal/web/csdl/dlrss" target="_blank"><i class="icon-rss icon-2x"></i></a>
</div>
<div class="row footer-copy-section">
    <p class="text-muted">
        <span class="text-primary copy-section"></span>
        <i class="icon-keyboard"></i> in LA
    </p>
</div>