<ul>
<li>When a visitor clicks on an Event, a popup window will display showing information pertaining to that Event.</li>
<li>Part of the information that is given in this initial popup window is a link that will take the visitor to the Event home page.</li>
<li>Since we would like to keep the visitor on our page, a new popup window will appear that will display the Event home page in an iFrame.</li>
<li>This new iFrame-driven popup window will have a width of 100% in order to take up the entire page.  However, the height will be the height of the page minus the offset value in this option.</li>
<li>The default is 226.</li>
<li>This means that the popup window will appear at 226 pixels below the top border of the browser window, thereby still displaying our site header and navigation menu(s).</li>
<li>If the value of 226 pixels doesn't fit your header height, then you can alter it to your own value.</li>
</ul>