<ul>
<li>For every Content Entry item displayed in this Content List, the portlet will need to determine:
	<ul>
	<li>Community (Group) Name</li>
	<li>Channel (Category) Name</li>
	<li>Page Name</li>
	</ul>
</li>
<li>This will result in a URL for each link which will look like:
	<ul>
	<li>http://<<domainname>>/<<liferay-url>>/community-name/channel-name/page-name</li>
	<li>For example:</li>
	<li>http://computingnow.computer.org/portal/web/computingnow/cloud/content</li>
	<li>Where:</li>
	<li>Community (Group) Name = computingnow</li>
	<li>Channel (Category) Name = cloud</li>
	<li>Page Name = content</li>
	</ul>
</li>
</ul>