
.contentAdvancedJSExternalBlock {
	width: 98%;
	height: 200px;	
	margin: 0 0 0 10px;
}

.contentAdvancedJSExternalBlock textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #CCCCCC;	
}

.contentAdvancedBlockInformationButton {
	background-image: url('../images/information.png');
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin: 0 0 5px 10px;
}

.contentAdvancedTitle {
	margin: 15px 0 20px 15px;	
	font: 14px arial,sans-serif;
}

.contentAdvancedMode {
	margin: 0 0 20px 15px;
	font: 12px arial,sans-serif;	
}

.contentAdvancedInstanceID {
	margin: 0 0 20px 15px;
	font: 12px arial,sans-serif;	
}

.contentAdvancedRowButtons {
	width: 98%;
	border-top: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	margin: 0 0 0 10px;
}

.contentAdvancedCellTitle {
	float: left; 
	width: 180px; 
	padding: 10px 0 0 10px;	
	font: 12px arial,sans-serif;
}

.contentAdvancedCell {
    background-color: #FFFFFF;
    float: left;
    margin: 0;
    padding: 10px 0 10px 10px;
    width: 250px;	
}

.contentAdvancedMessage {
	float: left; 
	width: 600px; 
	margin: 10px 0 3px 0; 
	color: blue; 
	font: 16px arial,sans-serif;	
}

.contentAdvancedSave {
	float: right; 
	width: 50px; 
	margin: 10px 0 3px 0;
}

.contentAdvancedConfigExplanation,
.contentAdvancedConfigExternalExplanation,
.contentAdvancedConfigIntroExplanation {
	font: 12px arial, helvetica, sans-serif;
	padding: 5px 0 10px 15px;
	width: 100%;
	border: 1px solid #CCCCCC;
	margin: 0 0 10px 10px;	
}

.contentAdvancedConfigExplanation {
	display: none;
}

.contentAdvancedConfigExplanation li,
.contentAdvancedConfigExternalExplanation li,
.contentAdvancedConfigIntroExplanation li {
	margin: 5px 0 5px 0;	
}

.contentAdvancedConfigExplanationExternal {
	font: 12px arial, helvetica, sans-serif;
	padding: 5px 0 10px 5px;
	width: 98%;
	margin: 0 0 0 10px;
}

/* ---------- SimpleModal ---------- */

/* Overlay */
#simplemodal-overlay {
	background-color: #000; 
}

/* Container */
#simplemodal-container {
	height: 360px; 
	width: 600px; 
	color: #000000; 
	background-color: #FFFFFF; 
	border: 2px solid #CCCCCC; 
}

#simplemodal-container .simplemodal-data {
	padding: 0;
}

#simplemodal-container a.modalCloseImg {
	background: url(../images/x.png) no-repeat; 
	width: 25px; 
	height: 29px; 
	display: inline; 
	z-index: 3200; 
	position: absolute; 
	top: -15px; 
	right: -16px; 
	cursor: pointer;
}

/* ---------- Common ---------- */

.clearBoth {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.topNavOptions {
	width: 98%;
	margin: 0 0 10px 10px;
}

.topNavOption {
	float: left;
	padding: 0 0 0 10px;
	height: 24px;
	width: 90%;
	background-color: #EEEEEE;	
	border: 1px solid #CCCCCC;	
}

.configurationOptions {
	font: 12px arial, helvetica, sans-serif;
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 2px 0 0 0;	
}

.topNavBackButton {
	float: right;
	padding: 4px 5px 0 5px;
	font: bold 12px arial,sans-serif;
	cursor: pointer;
	background-color: #EEEEEE;	
	border: 1px solid #CCCCCC;
	height: 20px;
}

.cornerRadiusCell {
	float: left; 
	width: 50%; 
	margin: 8px 0 8px 10px;
	padding: 5px 5px 5px 50px;
}

.cornerRadiusLabel {
	float: left; 
	width: 80px; 
	margin: 2px 0 2px 0;
	padding: 5px 0 0 0;
}

.cornerRadiusInput {
	float: left; 
	width: 40px; 
	margin: 2px 0 2px 0;
}

.showIntroExplanation {
	font: 12px arial, helvetica, sans-serif;
	padding: 10px 0 10px 15px;
	width: 100%;
	border: 1px solid #CCCCCC;
	margin: 0 0 10px 10px;		
}