<h5>Welcome Back, ${firstName}.</h5>
<div class="row-fluid">
    <c:if test="${hasArticleBundle}">
        <div class="row">
            <div id="used-article-count-${id}" class="header-number-${id} col-md-3 col-sm-3">
                {{numberOfArticles}}
            </div>
            <div class="header-text-${id}">
                articles in your library
            </div>
        </div>
        <div class="row">
            <div id="available-count-${id}" class="header-number-${id} col-md-3 col-sm-3">
                {{remainingBundleSpace}}
            </div>
            <div class="header-text-${id}">
                left in your article bundle
            </div>
        </div>
    </c:if>
    <c:if test="${hasWebinarBundle}">
        <div class="row">
            <div id="used-webinar-count-${id}" class="header-number-${id} col-md-3 col-sm-3">
                {{numberOfWebinars}}
            </div>
            <div class="header-text-${id}">
                webinars in your library
            </div>
        </div>
    </c:if>

    <!--NOTE: 11.13.13 Hiding the article count for now
    <div class="row">
        <div id="article-timeperiod-count-${id}" class="header-number-${id} col-md-3 col-sm-3">
            <i class="icon-spinner icon-spin"></i>
        </div>
        <div class="header-text-${id}">
            articles entered <span id="article-count-month-${id}">this month</span>
        </div>
    </div>
    -->
</div>
<div class="puchase-button-container">
    <button class="btn btn-medium btn-block btn-primary" {{ action "goToPurchaseBundle" }}>REQUEST A QUOTE</button>
</div>