<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd
        ">	
				
	<!-- =============================== -->
	<!--            MAPPINGS             -->
	<!-- =============================== -->
		
	<bean id="parameterMappingInterceptor" class= "org.springframework.web.portlet.handler.ParameterMappingInterceptor" />

	<bean id="portletModeParameterHandlerMapping" class= "org.springframework.web.portlet.handler.PortletModeParameterHandlerMapping">
		<property name="order" value="1" />
		<property name="interceptors">
			<list>
				<ref bean="parameterMappingInterceptor" />
			</list>
		</property>
		<property name="portletModeParameterMap">
			<map>
				<entry key="view">
					<map>
						<entry key="csbreadcrumbsView"><ref bean="csbreadcrumbsController"/></entry>
					</map>
				</entry>
                <entry key="edit">
                    <map>
                        <entry key="csbreadcrumbsConfigure"><ref bean="csconfigureBreadcrumbsController"/></entry>
                    </map>
                </entry>
            </map>
		</property>
	</bean>
	
	<!--
		The PortletModeHandlerMapping bean below will map the ###Controller classes as default Controllers for the various
		modes.  This is required for handling the default request or the request which does not have an action parameter.
		It has an "order" of "2" so that this mapping will only be used if the PortletModeParameterHandlerMapping above is
		not able to map the request to a Controller. 
	-->	
	<bean id="portletModeHandlerMapping" class="org.springframework.web.portlet.handler.PortletModeHandlerMapping">
		<property name="order" value="2" />
		<property name="portletModeMap">
			<map>
				<entry key="view"><ref bean="csbreadcrumbsController"/></entry>
                <entry key="edit"><ref bean="csconfigureBreadcrumbsController"/></entry>
			</map>
		</property>
	</bean>	

</beans>