
.digitalLibraryTitle {
	margin: 15px 0 20px 15px;	
	font: 14px arial,sans-serif;
}

.digitalLibraryMode {
	margin: 0 0 20px 15px;
	font: 12px arial,sans-serif;	
}

.digitalLibraryInstanceID {
	margin: 0 0 20px 15px;
	font: 12px arial,sans-serif;	
}

.digitalLibraryRowButtons {
	width: 98%;
	border-top: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	margin: 0 0 0 10px;
}

.digitalLibraryCellTitle {
	float: left; 
	width: 180px; 
	padding: 10px 0 0 10px;	
	font: 12px arial,sans-serif;
}

.digitalLibraryCell {
    background-color: #FFFFFF;
    float: left;
    margin: 0;
    padding: 10px 0 10px 10px;
    width: 250px;	
}

.digitalLibraryMessage {
	float: left; 
	width: 600px; 
	margin: 10px 0 3px 0; 
	color: blue; 
	font: 16px arial,sans-serif;	
}

.digitalLibrarySave {
	float: right; 
	width: 50px; 
	margin: 10px 0 3px 0;
}

.digitalLibraryConfigExplanation,
.digitalLibraryConfigExternalExplanation {
	font: 12px arial, helvetica, sans-serif;
	padding: 5px 0 10px 15px;
	width: 100%;
	border: 1px solid #CCCCCC;
	margin: 0 0 10px 10px;	
}

.digitalLibraryConfigExplanation {
	display: none;
}

.digitalLibraryConfigExplanation li,
.digitalLibraryConfigExternalExplanation li {
	margin: 5px 0 5px 0;	
}

.digitalLibraryConfigExplanationExternal {
	font: 12px arial, helvetica, sans-serif;
	padding: 5px 0 10px 5px;
	width: 98%;
	margin: 0 0 0 10px;
}

/* ---------- Common: Configure ---------- */

.customConfigRow {
	width: 95%;
	height: 600px;
	display: none;		
}	

.portletConfigRow {
	width: 98%;
	border-top: 1px solid #CCCCCC;
	background-color: #E8E8E8;
	display: none;
	margin: 0 0 0 10px;
}

/* ---------- Common ---------- */

.clearBoth {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.topNavOptions {
	width: 98%;
	margin: 0 0 10px 10px;
}

.topNavOption {
	float: left;
	padding: 0 0 0 10px;
	height: 24px;
	width: 90%;
	background-color: #EEEEEE;	
	border: 1px solid #CCCCCC;	
}

.configurationOptions {
	font: 12px arial, helvetica, sans-serif;
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 2px 0 0 0;	
}

.topNavBackButton {
	float: right;
	padding: 4px 5px 0 5px;
	font: bold 12px arial,sans-serif;
	cursor: pointer;
	background-color: #EEEEEE;	
	border: 1px solid #CCCCCC;
	height: 20px;
}

.cornerRadiusCell {
	float: left; 
	width: 50%; 
	margin: 8px 0 8px 10px;
	padding: 5px 5px 5px 50px;
}

.cornerRadiusLabel {
	float: left; 
	width: 80px; 
	margin: 2px 0 2px 0;
	padding: 5px 0 0 0;
}

.cornerRadiusInput {
	float: left; 
	width: 40px; 
	margin: 2px 0 2px 0;
}

.breadCrumbsContainer {
	margin: 10px 0 20px 10px;
	width: 90%;
	float: left;
}

.breadCrumbsContainer a {
	text-decoration: none;
}

.breadCrumbsPageInformation {
	float: right;
	width: 10px;
}

.prePrints,
.rapidPosts {
	margin: 0 0 20px 40px;
	width: 85%;	
	font: 12px arial, helvetica, sans-serif;
}

.prePrints a,
.rapidPosts a {
	text-decoration: none;	
}

.prePrintsLink,
.rapidPostsLink {
	margin: 0 0 10px 0;
}

.prePrintsDescription,
.rapidPostsDescription {
	font: 12px arial, helvetica, sans-serif;
}

.linkItem,
.linkItemFull {
	margin: 10px 5px 5px 0;
}

.linkItem a,
.linkItemFull a {
	text-decoration: none;
	color: #0A6BA7;
	font: 14px arial, helvetica, sans-serif;
}

.linkItem:hover,
.linkItemFull:hover {
	background-color: #E6EFF4;
}

.linkItem {
	width: 90%;
}

.linkItemFull {
	width: 100%;
}

.linkItemTop {
	margin: 20px 0 0 0;
}

.linkItemBullet {
	width: 6%;
	float: left;
	margin: -2px 0 0 0;
	font: 12px arial, helvetica, sans-serif;
}

.linkItemAnchor {
	width: 94%;
	float: left;
}

.mainSearchContainer {
	width: 100%;
	margin: 0 0 25px 0;
}

.mainSearchLabel {
	font: bold 20px arial, helvetica, sans-serif;
	width: 50%;
	margin: 10px 0 15px 25px;
}

.mainSearch {
	width: 100%;
	height: 40px;
	margin: 0 0 60px 0;
}

.mainSearchControls {
	width: 60%;
	height: 60px;
	border: 1px solid #333333;
	background-color: #E8E8E8;
	float: left;
	margin: 0 0 0 25px;
}

.mainSearchButtonContainer {
	background-color: #004D85;	
	width: 68px;
	height: 60px;
	float: left;
	margin: 0 0 0 10px;
	border: 1px solid #004D85;	
}

.mainSearchButton {
	background-color: #004D85;
	margin: 0 0 0 5px;
	width: 63px;
}

.magazineListing {
	float: left;
	width: 50%;	
	margin: 0 0 10px 0;
}

.magazineListingHeader {
	background-color: #91B5CB;
	width: 90%;
	height: 13px;	
}

.magazineListingImage {
	width: 20px;
	float: left;
	background-color: #FFFFFF;
}

.magazineListingImage img {
	width: 20px;
	height: 25px;
	background-color: #FFFFFF;
	margin: -21px 0 0 0;
}

.magazineListingTitle {
	font: bold 20px arial, helvetica, sans-serif;
	float: left;
	width: 120px;
	background-color: #FFFFFF;
	text-align: center;
	margin: -7px 0 0 0;
}

.magazineListingDescription {
	font: 14px arial, helvetica, sans-serif;
	margin: 15px 0 0 0;
	width: 90%;	
	min-height: 80px;
}

.transactionListing {
	float: left;
	width: 50%;	
	margin: 0 0 10px 0;	
}

.transactionListingHeader {
	background-color: #91B5CB;
	width: 100%;
	height: 13px;
}

.transactionListingImage {
	width: 30px;
	float: left;
	background-color: #FFFFFF;	
}

.transactionListingImage img {
	width: 30px;
	height: 25px;
	background-color: #FFFFFF;
	margin: -21px 0 0 0;	
}

.transactionListingTitle {
	font: bold 20px arial, helvetica, sans-serif;
	float: left;
	width: 150px;
	background-color: #FFFFFF;
	text-align: center;	
	margin: -7px 0 0 0;
}

.transactionListingDescription {
	font: 14px arial, helvetica, sans-serif;
	margin: 15px 0 0 0;
	width: 100%;	
	min-height: 80px;
}

.letterListing {
	width: 100%;	
	margin: 25px 0 0 0;	
}

.letterListingHeader {
	background-color: #91B5CB;
	width: 100%;
	height: 13px;	
}

.letterListingImage {
	width: 27px;
	float: left;
	background-color: #FFFFFF;
}

.letterListingImage img {
	width: 27px;
	height: 25px;
	background-color: #FFFFFF;
	margin: -21px 0 0 0;	
}

.letterListingTitle {
	font: bold 20px arial, helvetica, sans-serif;
	float: left;
	width: 120px;
	background-color: #FFFFFF;
	text-align: center;
	margin: -7px 0 0 0;	
}

.letterListingDescription {
	font: 14px arial, helvetica, sans-serif;
	margin: 15px 0 0 0;
	width: 100%;	
	min-height: 40px;
}

.proceedingListing {
	width: 100%;	
	margin: 45px 0 0 0;	
}

.proceedingListingHeader {
	background-color: #91B5CB;
	width: 100%;
	height: 13px;
	margin: 0 0 15px 0;
}

.proceedingListingImage {
	width: 24px;
	float: left;
	background-color: #FFFFFF;
}

.proceedingListingImage img {
	width: 24px;
	height: 25px;
	background-color: #FFFFFF;
	margin: -21px 0 0 0;	
}

.proceedingListingTitle {
	font: bold 20px arial, helvetica, sans-serif;
	float: left;
	width: 150px;
	background-color: #FFFFFF;
	text-align: center;	
	margin: -7px 0 0 0;	
}

.proceedingListingDescription {
	font: 14px arial, helvetica, sans-serif;
	margin: 15px 0 0 0;
	width: 100%;	
	min-height: 50px;
}

.proceedingLink {
	width: 40px;
	margin: 5px 3px 10px 0;
	text-align: center;
	font: bold 12px arial, helvetica, sans-serif;
	float: left;
	cursor: pointer;
}

.proceedingLink a {
	text-decoration: none;
	color: #0A6BA7;
}

.proceedingLink:hover {
	background-color: #E6EFF4;
}

.resourceListing {
	width: 100%;	
	margin: 35px 0 60px 0;	
}

.resourceListingHeader {
	background-color: #91B5CB;
	width: 100%;
	height: 13px;
}

.resourceListingImage {
	width: 20px;
	float: left;
	background-color: #FFFFFF;
}

.resourceListingImage img {
	width: 20px;
	height: 25px;
	background-color: #FFFFFF;
	margin: -21px 0 0 0;	
}

.resourceListingTitle {
	font: bold 20px arial, helvetica, sans-serif;
	float: left;
	width: 150px;
	background-color: #FFFFFF;
	text-align: center;	
	margin: -7px 0 0 0;	
}

.resourceListingContent {
	width: 90%;
	margin: 20px 0 0 0;	
}

.volume {
    border: 1px solid #EEEEEE;
    float: left;
    margin: 5px 5px 0 5px;
    padding: 4px 5px 2px 5px;
    text-align: center;
    width: 13%;	
	border-top-left-radius: 5px 5px;
	-moz-border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;		
	-moz-border-top-right-radius: 5px 5px;		
	border-bottom-left-radius: 5px 5px;		
	-moz-border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;		  
	cursor: pointer;  
}

.volume:hover {
	background-color: #EEEEEE;
}

.volume:hover a {
	color: #000000;
}

.volume a {
	text-decoration: none;
	color: #CCCCCC;
	font: 10px arial, helvetica, sans-serif;
}

.volumeYear {
	color: #0A6BA7;
	font: bold 12px arial, helvetica, sans-serif;	
}

 .volumeIcon {
 	color: #CCCCCC;
 }
 
 .publicationIcon {
 	color: #CCCCCC;
 } 
 
 .pageInformationIcon {
 	color: #EEEEEE;
 } 
 
 .volumeSpecific {
    border: 1px solid #EEEEEE;
    margin: 0 5px 5px 5px;
    padding: 4px 5px 2px 15px;
    width: 25%;	
	border-top-left-radius: 5px 5px;
	-moz-border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;		
	-moz-border-top-right-radius: 5px 5px;		
	border-bottom-left-radius: 5px 5px;		
	-moz-border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;
}
 
 .issue {
    border: 1px solid #EEEEEE;
    float: left;
    margin: 5px 5px 0 5px;
    padding: 4px 5px 2px 15px;
    width: 25%;	
	border-top-left-radius: 5px 5px;
	-moz-border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;		
	-moz-border-top-right-radius: 5px 5px;		
	border-bottom-left-radius: 5px 5px;		
	-moz-border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	-moz-border-bottom-right-radius: 5px 5px;		  
	cursor: pointer;  
}

.issue:hover {
	background-color: #EEEEEE;
}

.issue:hover a {
	color: #000000;
}

.issue a {
	text-decoration: none;
	color: #0A6BA7;
	font: 12px arial, helvetica, sans-serif;
}

.issueNumberLabel {
	width: 80px;
	min-width: 80px;
	float: left;
}

.issuePeriod {
	float: left;	
}

.tableOfContentsHeading {
	width: 100%;
}

.tableOfContentsHeadingFirst {
	border-top: 1px solid #CCCCCC;
}

.tableOfContentsHeadingIcon {
	color: #72BA45;
	width: 20px;
	float: left;
	margin: 4px 0 0 0;
}

.tableOfContentsHeadingTitle {
	font: bold 14px arial, helvetica, sans-serif; 	
	float: left;
	margin: 5px 0 0 0;	
}

.tableOfContentsLineItemContainer {
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.tableOfContentsLineItem {
	width: 100%;
	margin: 0 0 15px 20px;
}

.tableOfContentsLineItemTitle {
	font: bold 14px arial, helvetica, sans-serif;	
	margin: 5px 0 8px 0;
}
 
.tableOfContentsLineItemTitle a {
	text-decoration: none;
	color: #0A6BA7;
}

.lineItemType {
	font: 11px arial, helvetica, sans-serif;
	color: #777777;
	margin: 0 0 0 10px;
}

.tableOfContentsLineItemCreator {
 	font: 12px arial, helvetica, sans-serif;
 	margin: 5px 0 5px 0;
}

.tableOfContentsLineItemLength {
 	font: 12px arial, helvetica, sans-serif;	
 	margin: 5px 0 0 0;
}

.tableOfContentsLineOptions {
	width: 100%;
	margin: 0 0 25px 15px;
}

.tableOfContentsLineOption {
	margin: 3px 0 3px 0;
	padding: 5px 0 0 0;
	height: 24px;
}

.tableOfContentsLineOption:hover {
	background-color: #E6EFF4;
}

.tableOfContentsLineOptionsAbstract,
.tableOfContentsLineOptionsFullText {
	font: bold 12px arial, helvetica, sans-serif;	
	border: 1px solid #E2E6E9;	  
	cursor: pointer;  	
	width: 100px;
	padding: 5px;
}

.tableOfContentsLineOptionsAbstract {
	margin: 0 5px 0 0;
}

.tableOfContentsLineOptionsFullText {
	margin: 0 5px 0 0;
}

.tableOfContentsLineOptionsAbstractIcon,
.tableOfContentsLineOptionsFullTextIcon {
	width: 24px;
	float: left;
}

.tableOfContentsLineOptionsPDFIcon,
.tableOfContentsLineOptionsHTMLIcon,
.tableOfContentsLineOptionsXPLOREIcon,
.tableOfContentsLineOptionsOPENURLIcon {
	width: 24px;
	float: left;
	margin: 0 0 0 10px;
}

.tableOfContentsLineOptionsAbstract:hover,
.tableOfContentsLineOptionsFullText:hover {
	background-color: #E6EFF4;
}

.tableOfContentsLineOptionsAbstractText,
.tableOfContentsLineOptionsFullTextText {
	color: #000000;
	width: 65px;
	float: left;
	margin: 1px 0 0 0;	
}

.tableOfContentsLineOptionsPDFText,
.tableOfContentsLineOptionsHTMLText,
.tableOfContentsLineOptionsXPLOREText,
.tableOfContentsLineOptionsOPENURLText {
	color: #000000;
	width: 100px;
	float: left;
	margin: 1px 0 10px 0;	
}

.tableOfContentsLineOptionsAbstractText a,
.tableOfContentsLineOptionsFullTextText a {
	color: #000000;
	text-decoration: none;
}

.tableOfContentsLineOptionsPurchase {
	font: bold 12px arial, helvetica, sans-serif;	
	background-color: #3382AD;
	border: 1px solid #3382AD;		  
	cursor: pointer;  	
	color: #FFFFFF;
	width: 100px;
	padding: 5px;
	margin: 0 5px 0 0;
}

.tableOfContentsLineOptionsPurchaseIcon {
	width: 24px;
	float: left;
	margin: 0 0 0 20px;
}

.tableOfContentsLineOptionsPurchase:hover {
	background-color: #E6EFF4;
	color: #000000;
}

.tableOfContentsLineOptionsPurchaseText {
	width: 35px;
	float: left;
	margin: 1px 0 0 0;	
}

.tableOfContentsLineOptionsPDFText span {
	color: #CCCCCC;
}

.abstractHeader {
	font: bold 16px arial, helvetica, sans-serif;
	margin: 20px 0 10px 0;
}

.abstractText {
	font: 12px arial, helvetica, sans-serif;
	margin: 0 0 15px 0;
}

.abstractReference {
	font: 12px arial, helvetica, sans-serif;
	margin: 0 0 15px 0;	
}

.abstractReference a {
	text-decoration:  none;
	color: #0A6BA7;
}

/* ---------- Section Header:  Home Publications ---------- */
 
 .sectionalHeaderHomePublications {
 	margin: 10px 0 20px 20px;
	width: 97%;
 }
 
 .sectionalHeaderHomePublicationsCover {
 	float: left;
 	margin: 0 15px 10px 0;
 }
 
 .sectionalHeaderHomePublicationsIntroText {
 	float: left;
 	font: 14px arial, helvetica, sans-serif;
 	width: 65%;
 }
 
 .sectionalHeaderHomePublicationsLabel {
 	font: bold 22px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: 10px 0 15px 5px;
 }
 
.sectionalHeaderHomePublicationsSocialSubscribeText {
   	float: right;
   	color: #333333;
   	font: 12px arial, helvetica, sans-serif;
   	margin: 25px 5px 0 0;
   	background-color: #E3F5DB;
   	padding: 5px 10px 4px 10px;
 }
 
 .sectionalHeaderHomePublicationsSocialSubscribe {
   	float: right;
   	background-color: #72BA45;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;
   	width: 70px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 25px 5px 0 0;
   	text-align: center;
 }

/* ---------- Section Header:  Volume / Issue ---------- */
 
 .sectionalHeaderVolumeIssue {
 	margin: 10px 0 25px 20px;
	width: 97%;
 }
 
 .sectionalHeaderVolumeIssueCover {
 	float: left;
 	margin: 0 15px 10px 0;
 }
 
 .sectionalHeaderVolumeIssueLogo {
 	float: left;
 }
 
 .sectionalHeaderVolumeIssueLabel {
 	font: bold 22px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: -35px 0 0 5px;
 }
 
 .sectionalHeaderVolumeIssueSearch {
 	width: 200px;
 	height: 30px;
 	background-color: #CCCCCC;
 	position: absolute;
 	top: 30px;
 	right: 0px;
 }
 
 .sectionalHeaderVolumeIssueSocial {
  	float: right;
  	margin: -25px 5px 0 0;
 }
 
 .sectionalHeaderVolumeIssueSocialSubscribe {
   	float: right;
   	background-color: #72BA45;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;
   	width: 70px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 0 5px 0 0;
   	text-align: center;
 }
 
 .sectionalHeaderVolumeIssueSocialShare {
   	float: right;
   	background-color: #A8A8A8;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;   
   	width: 50px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 0 5px 0 0;
   	text-align: center;	
 }
 
 .sectionalHeaderVolumeIssueSocialRSS {
   	float: right;
   	background-color: #A8A8A8;
   	color: #FFFFFF;   	
   	width: 24px;
   	height: 22px;   	
   	text-align: center;
   	padding: 1px 0 0 0;
 }
 
 .sectionalHeaderVolumeIssueSocialRSS img {
 	width: 18px;
 	height: 18px;
 }
 
 /* ---------- Section Header:  Table of Contents ---------- */
 
  .sectionalHeaderTableOfContents {
 	margin: 0 0 25px 20px;
	width: 97%;
 }
 
  .sectionalHeaderTableOfContentsLogo {
 	margin: 0;
 }
 
 .sectionalHeaderTableOfContentsText {
 	font: 12px arial, helvetica, sans-serif;
 	width: 60%;
 	margin: 0 0 5px 5px;
 }
 
  .sectionalHeaderTableOfContentsProceedingsText {
 	font: 14px arial, helvetica, sans-serif;
 	width: 60%;
 	margin: 0 0 5px 5px;
 }
 
 .sectionalHeaderTableOfContentsLabel {
 	font: bold 22px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: 0 0 0 5px;
 }
 
  .sectionalHeaderTableOfContentsProceedingsLabel {
 	font: bold 22px arial, helvetica, sans-serif;
 	width: 90%;
 	margin:20px 0 0 5px;
 }
 
  .sectionalHeaderTableOfContentsProceedingsHeader {
 	font: bold 16px arial, helvetica, sans-serif;
 	width: 60%;
 	margin: 0 0 5px 5px;
 	color: #0A6BA7;
 }
 
 .sectionalHeaderTableOfContentsSearch {
 	width: 200px;
 	height: 30px;
 	background-color: #CCCCCC;
 	position: absolute;
 	top: 30px;
 	right: 0px;
 }
 
 .sectionalHeaderTableOfContentsSocial {
  	float: right;
  	margin: -25px 5px 0 0;
 }
 
 .sectionalHeaderTableOfContentsSocialSubscribe {
   	float: right;
   	background-color: #72BA45;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;
   	width: 70px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 0 5px 0 0;
   	text-align: center;
 }
 
 .sectionalHeaderTableOfContentsSocialShare {
   	float: right;
   	background-color: #A8A8A8;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;   
   	width: 50px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 0 5px 0 0;
   	text-align: center;	
 }
 
 .sectionalHeaderTableOfContentsSocialRSS {
   	float: right;
   	background-color: #A8A8A8;
   	color: #FFFFFF;   	
   	width: 24px;
   	height: 22px;   	
   	text-align: center;
   	padding: 1px 0 0 0;
 }
 
 .sectionalHeaderTableOfContentsSocialRSS img {
 	width: 18px;
 	height: 18px;
 }
 
 /* ---------- Section Header:  Abstract ---------- */
 
  .sectionalHeaderAbstract {
 	margin: 0 0 25px 20px;
	width: 97%;
 }
 
  .sectionalHeaderAbstractLogo {
 	margin: 0;
 }
 
.sectionalHeaderAbstractLogo img {
	width: 200px;
	height: auto;
}

.sectionalHeaderAbstractProceedingsConferenceName {
 	font: 14px arial, helvetica, sans-serif;
 	width: 60%;
 	margin: 0 0 20px 10px;
}
 
 .sectionalHeaderAbstractText {
 	font: 12px arial, helvetica, sans-serif;
 	width: 70%;
 	margin: 0 0 5px 0;
}
 
  .sectionalHeaderAbstractText h2 {
 	font: bold 24px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: 0 0 10px 0;
 	color: #0A6BA7;
 }
 
.sectionalHeaderAbstractProceedingsText {
 	font: 14px arial, helvetica, sans-serif;
 	width: 60%;
 	margin: 0 0 5px 0;
}

.sectionalHeaderAbstractProceedingsHeaderText {
 	font: 14px arial, helvetica, sans-serif;
 	width: 60%;
 	margin: 0 0 10px 0;
}
 
.sectionalHeaderAbstractProceedingsTitleText h2 {
 	font: bold 24px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: 0 0 10px 0;
 	color: #0A6BA7;
}
 
 .sectionalHeaderAbstractCreator {
 	font: 12px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: 10px 0 0 0;
 }
 
 .sectionalHeaderAbstractDOI {
  	font: 12px arial, helvetica, sans-serif;
 	width: 90%;
 	margin: 10px 0 0 0;
 }
 
 .sectionalHeaderAbstractSearch {
 	width: 200px;
 	height: 30px;
 	background-color: #CCCCCC;
 	position: absolute;
 	top: 30px;
 	right: 0px;
 }
 
 .sectionalHeaderAbstractSocial {
  	float: right;
  	margin: -25px 5px 0 0;
 }
 
 .sectionalHeaderAbstractSocialSubscribe {
   	float: right;
   	background-color: #72BA45;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;
   	width: 70px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 0 5px 0 0;
   	text-align: center;
 }
 
 .sectionalHeaderAbstractSocialShare {
   	float: right;
   	background-color: #A8A8A8;
   	color: #FFFFFF;
   	font: bold 12px arial, helvetica, sans-serif;   
   	width: 50px;
   	height: 18px;
   	padding: 5px 0 0 0;
   	margin: 0 5px 0 0;
   	text-align: center;	
 }
 
 .sectionalHeaderAbstractSocialRSS {
   	float: right;
   	background-color: #A8A8A8;
   	color: #FFFFFF;   	
   	width: 24px;
   	height: 22px;   	
   	text-align: center;
   	padding: 1px 0 0 0;
 }
 
 .sectionalHeaderAbstractSocialRSS img {
 	width: 18px;
 	height: 18px;
 }
  
 /* ---------- Proceeding Alpha-Numeric List ---------- */
 
 .proceedingListHeader {
 	width: 100%;
 	margin: 10px 0 20px 10px;
}
 
.proceedingListItem {
    cursor: pointer;
    height: 40px;
    min-height: 40px;
    position: relative;
    width: 100%;
}

.proceedingListItemEven {
	background-color: #E6EFF4;	
 	border: 1px solid #E6EFF4;	
}

.proceedingListItemOdd {
	background-color: #FFFFFF;	
 	border: 1px solid #FFFFFF;	
}

.proceedingListItem:hover {
	background-color: #E6EFF4;
 	border-top: 1px solid #0A6BA7;
 	border-right: 1px solid #0A6BA7;
 	border-bottom: 1px solid #0A6BA7;
 	border-left: 1px solid #0A6BA7;	
}
 
 .proceedingListAcronymLabel {
  	font: bold 18px arial, helvetica, sans-serif;
  	width: 20%;
  	float: left;
}
 
 .proceedingListAcronym {
  	font: bold 12px arial, helvetica, sans-serif;
  	width: 18%;
    display: table; 
    height: 40px; 
    left: 10px;
    position: absolute;
    top: 0;       	
}

.proceedingListAcronym a {
	text-decoration: none;
	color: #0A6BA7;
}

.proceedingListAcronym p {
	display: table-cell; 
	vertical-align: middle;
}
 
 .proceedingListConferenceNameLabel {
  	font: bold 18px arial, helvetica, sans-serif; 
  	width: 80%;
  	float: left;  	
}
 
.proceedingListConferenceName {
    display: table;
    font: 12px arial,helvetica,sans-serif;
    height: 40px;
    left: 22%;
    position: absolute;
    top: 0;
    width: 75%;
}

.proceedingListConferenceName p {
	display: table-cell; 
	vertical-align: middle;
}

.proceedingYear {
	width: 100%;
	height: 22px;
	color: #0A6BA7;
	margin: 20px 0 10px 0;
	background-color: #E6EFF4;
	padding: 5px 0 0 0;
}

.proceedingYearText {
	font: bold 14px arial, helvetica, sans-serif;
	margin: 0 0 0 10px;
}

.proceedingName {
	width: 95%;
	margin: 0 0 5px 10px;
}

.proceedingNameIcon {
	width: 25px;
	float: left;
	margin: -3px 0 0 0;
}

.proceedingNameTitle {
	font: 12px arial, helvetica, sans-serif;
	width: 95%;
	float: left;
}

.proceedingNameTitle a {
	text-decoration: none;
	color: #0A6BA7;
}

/* ---------- Proceeding Year / Conference List ---------- */

.proceedingYearConference {
    width: 100%;
    margin: 0 0 15px 10px;
}

.proceedingYearConferenceDescription {
    font: bold 14px arial,helvetica,sans-serif;
    width: 100%;	
    color: #0A6BA7;
}

/* ************************* 
CSS Media 0 to 480      
*************************** */
@media (max-width: 480px) {
	
	.linkItem {
	    width: 100%;
	}
	
	.magazineListing {
	    margin: 0 0 30px;
	    width: 100%;
	}
	
	.magazineListingHeader {
	    background-color: #91B5CB;
	    height: 13px;
	    width: 100%;
	}
	
	.transactionListing {
	    margin: 0 0 25px;
	    width: 100%;
	}	
	
}

/* ************************* 
CSS Media 0 to 967      
*************************** */
@media (max-width: 967px) {
	
	.linkItem {
	    width: 100%;
	}
	
	.magazineListing {
	    margin: 0 0 30px;
	    width: 100%;
	}
	
	.magazineListingHeader {
	    background-color: #91B5CB;
	    height: 13px;
	    width: 100%;
	}
	
	.transactionListing {
	    margin: 0 0 25px;
	    width: 100%;
	}	
	
}

/* ************************* 
CSS Media 968 to 979      
*************************** */
@media (min-width: 968px) and (max-width: 979px) {
	
	.linkItem {
	    width: 100%;
	}
	
	.magazineListing {
	    margin: 0 0 30px;
	    width: 100%;
	}
	
	.magazineListingHeader {
	    background-color: #91B5CB;
	    height: 13px;
	    width: 100%;
	}
	
	.transactionListing {
	    margin: 0 0 25px;
	    width: 100%;
	}	

}

/* ************************* 
CSS Media 1200 to Infinity      
*************************** */
@media (min-width: 1200px) {
	
	.linkItem {
		width: 90%;
	}	
	
	.magazineListing {
		float: left;
		width: 50%;	
		margin: 0 0 10px 0;
	}	
	
	.magazineListingHeader {
		background-color: #91B5CB;
		width: 90%;
		height: 13px;	
	}	
	
	.transactionListing {
		float: left;
		width: 50%;	
		margin: 0 0 10px 0;	
	}	
	
}

 